<div class="col-md-12 headercomp" id="header" style="background-color:#025090;border-bottom:2px solid red;     height: 50px;"> 
<div style="float:left;">
<img src="./assets/ge_logo.png" alt="Locomotive" style="width:100%;height:48px;" />
</div>
<div style="float:left;">
 <a class="head" [routerLink]="['./login']"> LOCOMOTIVE DATA VISION </a>
</div>
<div style="float:right;">
<!--<img src="./assets/ge_header_loco.jpg" alt="Locomotive" style="width:100%;height:100px;" />-->
 <ul class="nav navbar-nav">
	

      <li ><a  routerLink="/data" routerLinkActive="active">View</a></li>
       
      <li><a  routerLink="/dataDetails" routerLinkActive="active">File</a></li>
      <li><a routerLinkActive="active-link" >Utilities</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link" (click)="logout()">Logout</a></li>
    </ul>
</div>
<!--div class="col-md-12" style="background-color:#025090;height:80px"></div-->
</div>

<!--<div class="col-md-12" style="background-color:#afdef5;">
 
    	
    <ul class="nav navbar-nav">
	

      <li class="active"><a routerLink="/data">View</a></li>
       
      <li><a routerLink="/dataDetails">File</a></li>
      <li><a href="#">Utilities</a></li>
    </ul>
  
</div>-->

