.navbar {
    position: none !important;
	color:#a8bddd;
}
@media (min-width: 1200px)
{
.container {
    width: 1319px;
}
}

ul.nav li
{
    font-size: 18px;
 
}
h3{
font-size: 18px;
}
ul.nav li a
{
  
    color:#fff;
}
  ul.nav li a:focus,ul.nav li a:hover
{
  
    color:#000;
}