<div class="container mainComponent">

<div class="row">
<div class="col-sm-6 col-md -6">
<div class="row mar-top-20">
<div class="col-sm-6">
<h4>Locomotive Data</h4>
</div>
</div>

{{2}}{{data}}

<ul>
 <li *ngFor="let user of data">
  {{user.color}}
 </li>
</ul>

<div class="row mar-top-20">
<div class="col-sm-6">
<label class=""><input type="file" name=Select (change)="fileUpload($event)" accept=".xml"></label>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Start Time/Date :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>End Time/Date :</label>
<span></span>
</div>
</div>


<div class="row mar-top-20">
<div class="col-sm-6">
<label>Wheel Diameter :</label>
<span></span>
</div>
</div>


<div class="row mar-top-20">
<div class="col-sm-6">
<label>Adjust Date Time :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-4">
<label class=""><input  type="checkbox" [checked]="" value=""/> Select data to view</label>

</div>

<div class="col-sm-5">
<label class=""><input  type="checkbox" [checked]="" value=""/> Keep last view settings</label>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<button type="btton" class="btn btn-primary">File Details</button>
</div>
</div>

</div>

<!--second column-->
<div class="col-sm-6 col-md-6 mar-top-60">

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Wheel Diameter :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Customer Name :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Serial Number:</label>
<span></span>
</div>
</div>


<div class="row mar-top-20">
<div class="col-sm-6">
<label>Name :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Version :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>Start Time/Date :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-6">
<label>End Time/Date :</label>
<span></span>
</div>
</div>

<div class="row mar-top-20">
<div class="col-sm-3">
<button type="button"  class="btn btn-primary">Next</button>

</div>

<div class="col-sm-3">
<button type="button"  class="btn btn-primary">Save</button>

</div>

</div>



</div>







</div>
</div>



