<div class="container ">

<div class="row">
<div class="col-sm-3">
<div class="row mar-top-10">
<div class="col-sm-12">
<h3>Locomotive Data</h3>
</div>
</div>

{{data.st}}

<div class="row mar-top-10">
<div class="col-sm-12">
<span class=""><input type="file" name=Select (click)="fileUpload($event)" accept=".xml"></span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Start Time/Date :</span>
<span>{{data.sd}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>End Time/Date :</span>
<span>{{data.ed}}</span>
</div>
</div>


<div class="row mar-top-10">
<div class="col-sm-12">
<span>Wheel Diameter :</span>
<span>{{data.wd}}</span>
</div>
</div>


<div class="row mar-top-10">
<div class="col-sm-12">
<span>Adjust Date Time :</span>
<span>{{data.adt}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span class=""><input  type="checkbox" [checked]="" value=""/> Select data to view</span>

</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span class=""><input  type="checkbox" [checked]="" value=""/> Keep last view settings</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-6">
<button type="btton" class="btn btn-primary">File Details</button>
</div>
</div>

</div>

<!--second column-->
<div class="col-sm-3 mar-top-80">

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Wheel Diameter :</span>
<span>{{data.wd}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Customer Name :</span>
<span>{{data.custName}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Serial Number:</span>
<span>{{data.sNo}}</span>
</div>
</div>


<div class="row mar-top-10">
<div class="col-sm-12">
<span>Name :</span>
<span>{{data.name}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Version :</span>
<span>{{data.version}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>Start Time/Date :</span>
<span>{{data.sd}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-12">
<span>End Time/Date :</span>
<span>{{data.ed}}</span>
</div>
</div>

<div class="row mar-top-10">
<div class="col-sm-3">
<button type="button"  class="btn btn-primary">Next</button>

</div>

<div class="col-sm-3">
<button type="button"  class="btn btn-primary">Save</button>

</div>

</div>



</div>
<!--third column -->

<div class="col-sm-3 mar-top-60 leftBorder">
<div>
        <div class="post">
          <p><img src="./assets/powerHaul.jpg" alt="website template image" class="bordered"/></p>
          <h3><a href="http://www.free-css.com/free-css-templates">Powerhaul Series Locomotive</a></h3>
          <p>Driving high-tech change across the rail industry to reduce costs, streamline operations and increase performance.</p>
          <a href="https://en.wikipedia.org/wiki/GE_PowerHaul" class="more">Read more »</a> </div>
        <div class="content-separator"></div>
        <div class="post">
          <p><img src="./assets/images.jpg" alt="website template image" class="bordered"/></p>
          <h3><a href="http://www.free-css.com/free-css-templates">Evolution Series Locomotives</a></h3>
          <p>The Evolution locomotive is the most technologically advanced, diesel-electric, heavy-haul locomotive in the world today.</p>
          <a href="https://en.wikipedia.org/wiki/GE_Evolution_Series" class="more">Read more »</a> </div>
        <!-- <div class="post">
          <p><img src="./assets/AC4400CW.jpg" alt="website template image" class="bordered"/></p>
          <h3><a href="http://www.free-css.com/free-css-templates">AC4400 and DASH Series</a></h3>
          <p>The Evolution locomotive is the most technologically advanced, diesel-electric, heavy-haul locomotive in the world today.</p>
          <a href="https://en.wikipedia.org/wiki/GE_AC4400CW" class="more">Read more »</a> </div>-->
    
      </div>


</div>
<!--Fourth Column -->
<div class="col-sm-3 mar-top-60 leftBorder">
<div class="right sidebar" id="sidebar-2">
        <div class="section">
          <div class="section-title">
            <div class="left">Latest News</div>
            <div class="right"></div>
           
          </div>
          <div class="section-content">
            <ul class="nice-list">
              <li>
                <div class="left"><a href="">Evolution Series Locomotive</a></div>
             
              </li>
              <li>
                <div class="left"><a href="">Powerhaul Series Locomotive</a></div>
              
              </li>
              <li>
                <div class="left"><a href="">AC4400 and DASH Series</a></div>
                
              
              </li>
              <li>
                <div class="left"><a href="">NextFuel™ Natural Gas Retrofit</a></div>
               
               
              </li>
              <li>
                <div class="left"><a href="">Building Industry Leading Locomotives</a></div>
              
            
              </li>
              <li>
                <div class="left"><a href="">Kazakhstan Railways adopts GE digital solutions</a></div>
               
              </li>
              <li><a href="" class="more">Browse all »</a></li>
            </ul>
          </div>
        </div>
        <div class="section">
          <div class="section-title">Most Viewed</div>
          <div class="section-content">
            <ul class="nice-list">
              <li> <a href="">Kazakhstan Railways adopts GE digital solutions</a></li>
              <li><a href="">Building Industry Leading Locomotives</a></li>
              <li> <a href="">Powerhaul Series Locomotive</a></li>
              <li> <a href="">AC4400 and DASH Series</a></li>
              <li><a href="">Evolution Series Locomotive</a></li>
              <li> <a href="">ET44AC</a></li>
              <li><a href="">NextFuel™ Natural Gas Retrofit</a></li>
           
              <li><a href="http://www.free-css.com/free-css-templates" class="more">Browse all »</a></li>
            </ul>
          </div>
        </div>
        
      </div>


</div>

</div>
</div>



