.copyright{
	text-transform: uppercase;
	margin-top: 9px;
	color: #999c9f;

}
 .navbar-nav>li>a:hover{
	color:#000 !important;
}

@media (min-width: 1200px)
{
	.footerColor
{ 
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
     margin-left: 0px !important;
 background-color: #025090;
 padding-right: 0px !important;
}
.container {
  
	
	margin-top:20px;
	
}
}
.footerColor
{ 
  margin-left: 0px !important;
      position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
 background-color: #025090;
} 

ul.nav li a
{
  color: aliceblue;
}
.navbar-nav>li>a{
	padding: 10px 10px;
}
.navbar-nav>li>a:focus{
	color:#000 !important;
}
ul.nav li
{
    font-size: 14px;
 
}