<div class ="container mainComponent" style="border:1px solid #cecece;">
	<div class ="row">
		  <div class ="col-md-6 col-sm-6 firstdiv "  >
    
	   <div class="video" style="height: 300px;"  >
	   <vg-player>
         <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
          <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
         </video>
       </vg-player>
	     </div>
       </div>
	    <div class ="col-md-6 col-sm-6 seconddiv" >
       <div class="map" >
	  <div id="map" style="height: 300px;"></div>
	 </div>
  </div>
  
  <div class =" buttonclass">
  
  <button type="button"  class="btn btn-primary">video</button>
  <button type="button"  class="btn btn-primary">map</button>
  <button type="button" class="btn btn-primary">marker</button>
  </div>
  
  <div class=" mar-top-40">
  <div class="">
  <button type="button" class="btn btn-primary" (click)="toggleGraph()">Table</button>
    <button type="button" class="btn btn-primary" (click)="toggleTable()">Graph</button>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12" *ngIf="showGraph">
    <div style="display: block;">
    <canvas baseChart width="500" height="150"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
 
  <div class="col-md-12" style="margin-bottom: 10px" *ngIf="showTable">
    <table class="table table-responsive table-condensed">
      <tr>
       <td>Time Stamp </td> <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
	  
      <tr *ngFor="let d of lineChartData">
      <td> {{d.label}}</td>  <td *ngFor="let label of lineChartLabels;let j=index">{{d && d.data[j]}}</td>
      </tr>
	   
    </table>
   
  </div>  
</div>
 
 
</div>








