<div class ="container-fluid mainComponent" style="border:1px solid #cecece;">
  <div class ="row">
 
    <div class ="col-md-6 col-sm-6 firstdiv "  >
    
	   <div class="video"   >
	   <vg-player>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
    </video>
</vg-player>
	   </div>
    </div>
	
    <div class ="col-md-6 col-sm-6 seconddiv" >
    <div class="map" [hidden]="IsHidden">
		<!--div *ngFor="let l of result">{{l.latitude +","+ l.longitude}}</div>
     </div-->
	 
	 <!--div class="googlemap"-->

	<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker  [latitude]="lat" [longitude]="lng"    [latitude]="pos.lat"   [longitude]="pos.lng"  
            (click)="showInfoWindow($event)">
        
  </agm-marker>
  
</agm-map>

 </div>

	 </div>
  </div>
  
  <div class ="row buttonclass">
  
  <button type="button" (click)="callvideo()"  class="btn btn-primary">video</button>
  <button type="button" class="btn btn-primary" (click)="showRandomMarkers()">map</button>
  <button type="button" class="btn btn-primary">marker</button>
  </div>
  
  
 
 
</div>

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>



<div class="face-txt col-sm-6">
            <h3>Data Center Management and Automation</h3>
            
            <p>Increase efficiency with IT automation products that save time, provide clear visibility, and strengthen control over operations.</p>
            
        </div>
<div class="col-sm-6"> 
  <h3>Let Us Help</h3> 
  <ul class="no-bullets"> 
   <li> 
    <!-- Begin c2c Button Div --> 
    <div class="c2c-component"> 
      
      
     
    </div> 
    <!-- End c2c Button Div --> </li> 
   <li> <a href="#" target="_blank" data-config-metrics-group="sm_luh" data-config-metrics-title="right rail" data-config-metrics-item="Email Us">Email Us</a> <span class="divider">|</span> <a href="#" target="_blank" data-config-metrics-group="sm_luh" data-config-metrics-title="right rail" data-config-metrics-item="Submit an Enquiry">Submit an Enquiry</a> </li> 
   <li> <a href="#" target="_blank" data-config-metrics-group="sm_luh" data-config-metrics-title="right rail" data-config-metrics-item="Find a Local Reseller">Find a Local Reseller</a> </li> 
   <li> Call 000 000 0000 00 (Pre-Sales)<br>
Technical Support<br>
000 000000 (Enterprise)<br>
0000000000 (SMB) <br> <a href="#" data-config-metrics-group="sm_luh" data-config-metrics-title="right rail" data-config-metrics-item="Other Countries">Other Countries</a> </li> 
  </ul> 
 </div>

<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script>