.mainComponent{
 margin-bottom: 0px;
	margin-top:2px;
} 
.face-txt{
    margin: 0;
    padding: 0 152px 25px 50px;
    min-height: 125px;
	float:left;
}
.no-bullets {
    list-style-type: none;
}
#singleVideo{
	border:1px solid;
}

	 agm-map {
  height: 355px;
}
.googlemap{
float :right;	
}
.classexpandvideo{
	width:100%;
	height:400px;
}
.videochange{
	width:300px;
	heifth:300px;
}
 .mar-top-40
 {
	 margin-top:7px;
	 
 }
 
 @media (min-width: 1200px)
 {
	 

.container {
    width: 1300px;
}
 }
 #chartTable{
 margin-top:15px;
 }

 table tr td 
 {
	 line-height: 9px;
	 cursor: pointer;
 }

  table tr th
 {
	 line-height: 10px;
 }

 .pagination{
	 padding-bottom: 0px;
  
 }
chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}
#vedioMapContainer{
	margin-top: 80px;
}